/* Combinador de descendiente: todos los <p> dentro de .contenedor */
.contenedor p {
    color: #2a7ae2;
    font-weight: bold;
}

/* Combinador de hijo directo: solo <p> hijos directos de body */
div > p {
    color: #e26a2a;
    font-style: oblique;
}

/* Combinador de hermano adyacente: <h3> que sigue a un <h2> */
h2 + h3 {
    color: #28a745;
    text-decoration: underline;
    background-color: rgb(88, 15, 81);
}

/* Combinador de hermanos generales: cualquier <ul> después de un <li> */
li ~ ul {
    background: #f0f0f0;
    border: 3px solid #2a7ae2;
    padding-left: 10px;
}

/* Combinador de descendiente: todos los <li> dentro de <ul> */
ul li {
    color: #b832e2;
}

/* Combinador de descendiente: todos los <li> dentro de <ol> */
ol li {
    color: #222;
}

/* Combinador de descendiente: <p> dentro de .pieDePagina */
.pieDePagina p {
    color: #fff;
    background: #222;
    padding: 8px;
    border-radius: 5px;
}

/* Combinador de pseudo-clase: <p> dentro de div con align="left" al pasar el mouse */
div p[align="left"]:hover {
    color: #fff;
    background: #2a7ae2;
}