 h1 {
            font-family: 'Courier New', Courier, monospace;
            color: darkblue;
            font-size: 24px;
        }

        .estilo1 {
            color: blue;
            font-size: 20px;
            border: 1px solid blue;
            border-style: dashed;
        }

        .estilo2 {
            color: green;
            font-size: 18px;
            font-weight: bold;
        }

        .estilo3 {
            color: red;
            font-size: 16px;
            text-decoration: underline;
        }